@import '../../variables.scss';

.container {
  position: relative;
}

.subContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $color-primary, transparent 30%);
  padding: 6rem;
  border-radius: 4px;
  margin-top: -1rem;
}

.heading {
  color: $color-grey-medium;
  font-size: 4rem;
}

.storyTitle {
  color: $color-grey-medium;
  font-size: 3rem;
}

.article {
  display: flex;
  flex-direction: column;
}

.story {
  margin-left: 4rem;
}

.storyContainer {
  display: flex;
  margin-top: 6rem;
}

.storyText {
  color: $color-grey-medium;
  font-size: 2rem;
  font-weight: $font-weight-light;
  margin-top: 4rem;

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 400px) {
    margin-top: 4rem;
    margin-left: 0;
  }
}

.storyUserInfo {
  font-size: 2.5rem;
  margin-top: 4rem;
  color: $color-grey-medium;
  font-weight: $font-weight-light;
}

.lottieContainer {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (max-width: 400px) {
    bottom: 82%;
  }
}

.lottieSarah {
  display: flex;
  align-items: center;
}
