@import '../../variables.scss';

.container {
  margin-top: 30rem;
  position: relative;

  @media only screen and (max-width: 600px) {
    margin-top: 20rem;
  }
}

.subContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $color-primary, transparent 30%);
  // background: linear-gradient(165deg, $color-tertiary-light, hsla(0, 0%, 100%, 0) 100%);
  // box-shadow: $box-shadow-soft;
  padding: 6rem;
  border-radius: 4px;
  margin-top: -1rem;
}

.title {
  color: $color-grey-medium;
  font-size: 4rem;

  // @media only screen and (max-width: 600px) {
  //   font-size: 5rem;
  // }
}

.subTitle {
  margin-top: 3rem;
  color: $color-grey-medium;
  font-size: 3rem;

  // @media only screen and (max-width: 600px) {
  //   font-size: 4rem;
  // }
}

.storyContainer {
  display: flex;
  margin-top: 4rem;

  @media only screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.storyText {
  color: $color-grey-medium;
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: $font-weight-light;

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 400px) {
    margin-top: 4rem;
    margin-left: 0;
  }
}

.footerText {
  color: $color-grey-medium;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-weight: $font-weight-light;

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.lottieContainer {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (max-width: 400px) {
    bottom: 82%;
  }
}
