.container {
  display: flex;
  align-items: center;
  background: #f29f7d;
  border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  padding: 20rem 16rem;
}

.title {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: white;
}

.subTitle {
  div {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
  }
}

.button {
  margin-top: 4rem;
  background-color: #4c8989;
  width: fit-content;
  cursor: pointer;
  padding: 2rem 3rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  color: white;
  z-index: 9;
  outline: none;
  font-size: 1.8rem;

  &:hover {
    background-color: #3c6b6b;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}
