.container {
  display: flex;
  align-items: center;
}

.logo {
  background: linear-gradient(60deg, black, transparent);
  height: 160px;
  width: 160px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.5rem;

  div {
    margin-top: 0.5rem;
  }
}

.button {
  margin-top: 2rem;
  background-color: black;
  width: fit-content;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.2s;

  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
  }
}
