@import '../../variables.scss';

.container {
  margin-top: 10rem;
  padding: 0 4rem;

  @media only screen and (max-width: 850px) {
    margin-top: 10rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  width: 100%;
  min-height: 30rem;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }
}

.card {
  box-shadow: $box-shadow-soft;
  padding: 4rem;
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(190deg, $color-tertiary-light, rgba(255, 255, 255, 0));
  border-radius: 10rem;

  @media only screen and (max-width: 600px) {
    margin-top: 4rem;
  }
}

.cardTitle {
  font-size: 6rem;
  font-weight: 400;
  color: $color-grey-medium;
  text-align: center;
}

.cardText {
  color: $color-grey-medium;
  font-size: 3rem;
  margin-top: 4rem;
  font-weight: $font-weight-light;
}

.button {
  margin-top: 5rem;
  background-color: $color-secondary;
  width: fit-content;
  cursor: pointer;
  padding: 2rem 3rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  color: $color-white;
  z-index: 9;
  outline: none;
  font-size: 3rem;

  &:hover {
    background-color: $color-secondary-dark;
    transform: scale(1.05) translateY(-3px);
    box-shadow: $box-shadow-hard;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 3.5rem;
    padding: 2rem 3rem;
    margin-top: 6rem;
  }
}

.lottieContainer {
  margin-right: 3rem;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
