.container {
  padding: 0 16rem;
  margin-top: 6rem;
}

.section {
  display: flex;
  flex-direction: column;

  // & > .sectionContainer:not(:last-child) {
  //   margin-bottom: 2rem;
  // }
}

.sectionContainer {
  display: flex;
  width: 100%;
  min-height: 30rem;
}

.img {
  width: 45%;
  background: linear-gradient(60deg, black, transparent);
}

.card {
  margin-left: 4rem;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 4rem;
  display: flex;
  align-items: center;
  background: linear-gradient(190deg, #ebf4fd, rgba(255, 255, 255, 0) 45%);
}

.cardTypography {
  margin-left: 3rem;
}

.cardTitle {
  font-size: 4rem;
  font-weight: 400;
  color: #4b4c4d;
}

.cardText {
  color: #4b4c4d;
  font-size: 2rem;
  margin-top: 4rem;
}

.button {
  margin-top: 6rem;
  background-color: #4c8989;
  width: fit-content;
  cursor: pointer;
  padding: 2rem 3rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  color: white;
  z-index: 9;
  outline: none;
  font-size: 1.8rem;

  &:hover {
    background-color: #3c6b6b;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}
