@font-face {
  font-family: Apercu;
  src: url('../assets/fonts/Apercu\ Pro\ Medium.woff2');
}

@font-face {
  font-family: Apercu;
  font-weight: 300;
  src: url('../assets/fonts/Apercu\ Pro\ Regular.woff2');
}
