@import '../../variables.scss';

header {
  padding: 2rem 6rem;
  position: fixed;
  width: 100%;
  box-shadow: $box-shadow-soft;
  z-index: 9999;
  background-color: $color-white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  padding-right: 6rem;

  @media only screen and (max-width: 950px) {
    justify-content: space-between;
  }
}

.navsList {
  list-style: none;
  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: 950px) {
    display: none;
  }

  & > li:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.navItem {
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
  margin-top: 0.4rem;

  &:hover {
    border-bottom: 1px solid $color-text-black;
  }

  div {
    text-decoration: none;
    color: $color-text-black;
    font-size: 1.6rem;
    font-weight: $font-weight-light;
    letter-spacing: 0.2px;
    cursor: pointer;
  }
}

.navsContainer {
  margin-left: 6rem;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 950px) {
    width: 100%;
    justify-content: center;
  }
}

.logoImg {
  height: 35px;
  width: 35px;
}

.logoText {
  color: $color-text-black;
  margin-left: 1rem;
  font-size: 2.5rem;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

.drawer {
  margin-left: auto;
  height: 3.5rem;
  display: none;
  cursor: pointer;

  @media only screen and (max-width: 950px) {
    display: block;
  }
}

.drawerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 15px 40px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  width: max-content;
}

.drawerItem {
  background-color: white;
  font-size: 4rem;
  padding: 2.5rem 3rem;
  width: 100%;
  min-width: max-content;
  cursor: pointer;
  color: #363636;
}
