header {
  padding: 1rem;
  padding-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.links {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    & > li:not(:last-child) {
      margin-right: 1.8rem;
    }

    li {
      transition: all 0.2s;
      border-bottom: 1px solid transparent;
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImg {
  background: linear-gradient(60deg, black, transparent);
  height: 35px;
  width: 35px;
}

.logoText {
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
