@import '../../variables.scss';

header {
  padding: 2rem 8rem;
  position: fixed;
  width: 100%;
  box-shadow: $box-shadow-soft;
  z-index: 9999;
  background-color: $color-white;
}

nav {
  display: flex;
  align-items: center;
}

.navsList {
  list-style: none;
  display: flex;
  justify-content: space-around;

  & > li:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.navItem {
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
  margin-top: 0.4rem;

  &:hover {
    border-bottom: 1px solid $color-text-black;
  }

  div {
    text-decoration: none;
    color: $color-text-black;
    font-size: 1.6rem;
    font-weight: $font-weight-light;
    letter-spacing: 0.2px;
    cursor: pointer;
  }
}

.navsContainer {
  margin-left: 6rem;

  @media only screen and (max-width: 950px) {
    display: none;
  }
}

.logoContainer {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 950px) {
    width: 100%;
    justify-content: center;
  }
}

.logoImg {
  height: 35px;
  width: 35px;
}

.logoText {
  color: $color-text-black;
  margin-left: 1rem;
  font-size: 2.5rem;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
