.container {
  padding: 0 16rem;
  margin-top: 16rem;
}

.section {
  background: linear-gradient(190deg, #ebf4fd, hsla(0, 0%, 100%, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 5rem;
  position: relative;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #4b4c4d;
  font-size: 4rem;
  font-weight: 900;
}

.subTitle {
  color: #4b4c4d;
  font-size: 2rem;
  margin-top: 3rem;
}

.instagramPostsContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;

  & img:not(:last-child) {
    margin-right: 2rem;
  }
}

.instagramPost {
  width: 33%;
  transition: transform 0.2s;
  object-fit: cover;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.button {
  margin-top: 7rem;
  background-color: #4c8989;
  width: fit-content;
  cursor: pointer;
  padding: 2rem 3rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
  color: white;
  z-index: 9;
  outline: none;
  font-size: 1.8rem;

  &:hover {
    background-color: #3c6b6b;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

// .anchor {
//   position: absolute;
//   background-color: #f29f7d;
//   height: 10rem;
//   width: 20rem;
//   top: 0;
//   left: 0;
//   border-radius: 0% 100% 100% 0% / 100% 1% 99% 0%;
// }

.lottie {
  margin-top: -3rem;
}
