@import './variables.scss';

@font-face {
  font-family: Apercu;
  src: url('./assets/fonts/Apercu\ Pro\ Medium.woff2');
}

@font-face {
  font-family: Apercu;
  font-weight: 300;
  src: url('./assets/fonts/Apercu\ Pro\ Regular.woff2');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 1200px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 46%;
  }

  @media only screen and (max-width: 850px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 32%;
  }
}

body {
  font-family: 'Apercu', sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
}

cf-list {
  max-width: 100%;
}

.cf-progressBar {
  height: 10rem !important;
  background: linear-gradient(to right, #2c2c2e, white);

  @media only screen and (max-width: 850px) {
    height: 12rem !important;
  }
}

.bar {
  background: #7cd07c !important;
}

#conversational-form {
  padding-top: 10rem;
}

a {
  text-decoration: none;
}
