@import './variables.scss';

@font-face {
  font-family: Apercu;
  src: url('./assets/fonts/Apercu\ Pro\ Medium.woff2');
}

@font-face {
  font-family: Apercu;
  font-weight: 300;
  src: url('./assets/fonts/Apercu\ Pro\ Regular.woff2');
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 1200px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 46%;
  }

  @media only screen and (max-width: 850px) {
    font-size: 40%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 32%;
  }
}

body {
  font-family: 'Apercu', sans-serif;
  font-weight: 400;
  position: relative;
}

// #top-image {
//   background-color: #f29f7d;
//   height: 600px;
//   width: 100%;
//   position: absolute;
//   z-index: -1;
//   border-radius: 63% 37% 52% 48% / 0% 100% 0% 100%;
// }

// #main-container {
//   padding: 0 5rem;
//   max-width: 1440px;
//   margin: auto auto;
// }

// #main {
//   padding: 5rem;
// }
