$color-primary: #f29f7d;

$color-secondary: #4c8989;
$color-secondary-dark: #3c6b6b;

$color-tertiary-light: #ebf4fd;

$color-white: #fff;
$color-white-dark: #f0f0f0;

$color-grey-medium: #4b4c4d;
$color-grey-dark: #202225;

$color-black: #000;
$color-text-black: #0c0c0c;

$box-shadow-soft: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
$box-shadow-hard: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);

$border-radius-hero-bg: 0% 100% 100% 0% / 100% 0% 100% 0%;

$font-weight-light: 300;
